@font-face {
    font-family: "WorkSans";
    src: url('FAQ_accordion/assets/fonts/WorkSans-VariableFont_wght.ttf');
}
/*
General styles
*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background-pattern {
    background-image: url('FAQ_accordion/assets/images/background-pattern-desktop.svg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background-size: cover;
    z-index: -1;
}

.hidden {
    display: none;
}

.unhidden {
    display: block;
}

/*
Typography
*/
* {
    font-family: "WorkSans", sans-serif;
}

h2 {
    font-weight: 700;
    font-size: 3.2rem;
}
span {
    font-weight: 600;
    font-size: 1rem;
} 

span:hover {
    color: hsl(292, 16%, 49%);
    transition: color 0.3s;
}

p {
    font-weight: 300;
    font-size: 0.9rem;
}

/*
Colours
*/
body {
    background-color: hsl(275, 100%, 97%);
}

.faq-section {
    background-color:hsl(0, 0%, 100%);
}

/*
Images
*/
.faq-header img {
    height: 35px;
    margin-right: 14px;
}
/*
FAQ accordion
*/
.faq-section {
    width: 530px;
    height: auto;
    padding: 35px;
    border-radius: 2.5%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.faq-header h2, img {
    display: inline;
}

.question-answer-section {
    border-bottom: 1px solid hsl(275, 100%, 97%);
    padding: 10px 0;
}

.questions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.questions:hover {
    cursor: pointer;
}

p {
    margin-bottom: 10px;
}

/*
Footer
*/
.attribution { 
    width: 100%;
    font-size: 11px; 
    text-align: center;
    position: absolute;
    bottom: 0px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 650px) {
    .background-pattern {
        background-image: url('FAQ_accordion/assets/images/background-pattern-mobile.svg');
    }
    .faq-section {
        width: 90%;
    }
}